[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
uvicorn = "*"
python-dotenv = "*"
python-multipart = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
